<div class="top-navbar">
    <h2>SIMPLE-CRM-SYSTEM</h2>
    <div class="top-navbar-right">
        <p-inputgroup>
            <p-button label="Search" />
            <input pInputText placeholder="Keyword" />
        </p-inputgroup>
        <p-overlaybadge badgeSize="small" value="2">
            <i class="pi pi-bell" style="font-size: 1.5rem"></i>
        </p-overlaybadge>
        <p-overlaybadge severity="danger">
            <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
        </p-overlaybadge>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle" />
    </div>
</div>