<p-tabView severity="info">
    <p-tabPanel header="Costumer"> Content 1 </p-tabPanel>
    <p-tabPanel header="Companys">
        <ng-template pTemplate="content"> Content 2 </ng-template>
    </p-tabPanel>
</p-tabView>
<div class="card flex justify-center">
    <div class="pos-add-costumer">
        <p-button (click)="showAddCostumerData()" icon="pi pi-users" iconPos="left" label="Add a new User" />
    </div>
    <p-dialog header="Costumer data" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem', 'background-color': '#F3F3F3' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <p-tabView severity="info">
            <p-tabPanel header="Overview"> Overview </p-tabPanel>
            <p-tabPanel header="Name & Email">
                <ng-template pTemplate="Name & Email"> Name & Email </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Costumer">
                <p-splitter [panelSizes]="[60, 40]" [style]="{ height: '300px' }" styleClass="mb-5">
                    <ng-template #panel>
                        <div class="flex items-center justify-center h-full">Panel 1</div>
                    </ng-template>
                    <ng-template #panel>
                        <div class="flex items-center justify-center h-full">Panel 2</div>
                    </ng-template>
                </p-splitter>
            </p-tabPanel>
            <p-tabPanel header="Work">
                <app-tab-work></app-tab-work>
            </p-tabPanel>
           <p-tabPanel header="Notes">
                <app-tab-notes></app-tab-notes>
            </p-tabPanel>
        </p-tabView>
        <ng-template #footer>
            <p-button label="OK" (click)="visible = false" />
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        </ng-template>
    </p-dialog>
</div>