@import "primeicons/primeicons.css";

.pos-add-costumer {
    position: absolute;
    top: 7.35rem;
    right: 4rem;
}

::ng-deep .p-tabpanels {
    background: #F9F9F9;
}

::ng-deep .p-dialog-header {
    padding: 0px 20px !important;
}