<form [formGroup]="company">
<div class="fd_c">
    <div class="fd_r_jc_sb">
        <div class="left-side">
            <div class="fd_r_jc_r">
                <div class="distance-label-textarea">
                    <p>Street:</p>
                </div>
                <textarea rows="3" cols="18" formControlName="street" pTextarea></textarea>
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Place:</p>
                <input type="text" pInputText formControlName="place" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>[Federal] state:</p>
                <input type="text" pInputText me="federalState" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Zip code</p>
                <input type="text" pInputText formControlName="zipCode" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>State:</p>
                <input type="text" pInputText formControlName="state" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p-button label="Add existing company" (click)="visible = false" [style]="{ width: '201px', 'background-color': 'red', 'margin-top': '47px' }" />
            </div>
        </div>
        <div class="right-side">
            <div class="fd_r_jc_r_ai_c">
                <p>Company:</p>
                <input type="text" pInputText formControlName="company" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Position:</p>
                <input type="text"  pInputText formControlName="position" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Department:</p>
                <input type="text" pInputText formControlName="department" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Office:</p>
                <input type="text" pInputText formControlName="office" autocomplete="off" />
            </div>
            <div class="distance-input"></div>
            <div class="fd_r_jc_r_ai_c">
                <p>Phone:</p>
                <input type="text" pInputText formControlName="phone" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Mobile Phone:</p>
                <input type="text" pInputText formControlName="mobilePhone" autocomplete="off" />
            </div>
            <div class="fd_r_jc_r_ai_c">
                <p>Fax:</p>
                <input type="text" pInputText formControlName="fax" autocomplete="off" />
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <p>Website:</p>
        <input type="text" [style]="{ width:'485px' }" formControlName="website" pInputText autocomplete="off" placeholder="https://" />
        <p-button label="Go to" severity="secondary" (click)="visible = false" />
    </div>
</div>
</form>