.fd_r_jc_sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.address-contdainer {
    width: 550px;
    padding: 11px 0 0 0;
}

.picture-right {
    width: 350px;
    padding: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    border-radius: 0;
}

.fd_r_jc_r_ai_c {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

input, p-select {
    width: 300px;
}

.distance-input {
    height: 44px;
}

img {
    height: 200px;
    width: 140px;
    border: 8px solid #10B981;
    border-radius: 10px;
    box-shadow: 10px 20px 15px silver;
    margin-bottom: 15px;
}

.left-side-bottom {
    width: 650px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.right-side-bottom {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fd_r_jc_c_ai_c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

label {
    margin: 0 15px;
}