<div class="fd_r_jc_sb" [parentForm]="customerandcompany">
    <div class="address-contdainer">
        <div class="fd_r_jc_r_ai_c">
            <p>First name:</p>
            <input type="text" pInputText formControlName="costumerFirstName" autocomplete="off" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Second name:</p>
            <input type="text" pInputText me="costumerSecondName" autocomplete="off" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Surname:</p>
            <input type="text" pInputText formControlName="costumerSurname" autocomplete="off" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Full name:</p>
            <p-select [options]="cities" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Personal title:</p>
            <input type="text" pInputText formControlName="costumerPersonalTitle" autocomplete="off" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Nickname:</p>
            <input type="text" pInputText formControlName="costumerNickname" autocomplete="off" />
        </div>
    </div>
    <div class="picture-right">
        <img src="../../../../../../assets/user-man.png" alt="user">
        <div class="fd_r_jc_c_ai_c">
            <form class="flex items-center">
                <p-checkbox formControlName="costumerMan" value="false" inputId="man" (change)="onCheckboxChange()"/>
                <label for="man" class="ml-2">Man</label>
                <p-checkbox formControlName="costumerWoman" value="true" inputId="woman" (change)="onCheckboxChange()" />
                <label for="woman" class="ml-2">Woman</label>
            </form>
        </div>

    </div>
</div>
<div class="distance-input"></div>
<div class="fd_r_jc_sb">
    <div class="left-side-bottom">
        <div class="fd_r_jc_r_ai_c">
            <p>E-Mail:</p>
            <input type="text" [style]="{ width:'440px'}" pInputText formControlName="text" autocomplete="off" />
        </div>
        <textarea rows="4" cols="18" pTextarea></textarea>
    </div>
    <div class="right-side-bottom">
        <p-button label="to add" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
        <p-button label="edit" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
        <p-button label="remove" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
    </div>
</div>