<div class="sidenav">
    <div class="logo-container">
      <li class="container-logo-icon" (click)="toggleCollapse()">
        <i class="sidenav-link-icon pi pi-arrow-left"></i>
        <!-- <span class="sidenav-link-text">C R M</span> -->
        <h1></h1>
      </li>
    </div>
    <div class="df_fd_cc_aifs">
      <ol>
        <li class="container-icon-text"
          *ngFor="let item of items; trackBy: trackByIndex" (mouseenter)="onHover(item, true)" (mouseleave)="onHover(item, false)"
          [routerLink]="item.routeLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a>
              <i class="sidenav-link-icon" [class]="item.icon" [ngClass]="{'pi-spin': item.icon === 'pi pi-cog' && item === hoveredItem}"></i>
               @if (!isLeftSidebarCollapsed()) {
                <span class="sidenav-link-text">{{ item.label }}</span>
              }
            </a>
        </li>
      </ol>
    </div>
</div>