<div class="fd_r_jc_sb">
    <div class="personal-container">
        <h3>Personal</h3>
        <div class="fd_r_jc_r_ai_c">
            <p>Birthday:</p>
            <p-datepicker showIcon iconDisplay="input" placeholder="Not specified" />
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Anniversary:</p>
            <p-datepicker showIcon iconDisplay="input" placeholder="Not specified" />
        </div>
    </div>
</div>
<div class="distance-input"></div>
<div class="fd_r_jc_sb">
    <div class="personal-container">
        <h3>Family members</h3>
        <div class="fd_r_jc_r_ai_c">
            <p>Partner:</p>
            <input type="text" [style]="{ width:'275px'}" pInputText formControlName="customerPartner" autocomplete="off" />
        </div>
        <div class="fd_r_jc_r">
            <div class="distance-label-textarea">
                <p>Children:</p>
            </div>
            <textarea rows="6" cols="25" pTextarea></textarea>
            <div class="button-container-bottom-right">
                <p-button label="to add" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
                <p-button label="edit" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
                <p-button label="remove" [style]="{ width:'80px', 'margin-bottom':'10px' }" severity="secondary" (click)="visible = false" [disabled]="true" />
            </div>
        </div>
    </div>
</div>