.fd_r_jc_sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.address-contdainer {
    width: 466px;
    padding: 11px 0 0 0;
}

.picture-right {
    width: 300px;
    padding: 25px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.fd_r_jc_r_ai_c {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.distance {
    height: 30px;
}

.distance-bottom {
    height: 26px;
}

h3 {
    font-weight: 100;
    line-height: 50px;
    color: grey;
    margin-left: 110px;
}

img {
    height: 200px;
    width: 140px;
    border: 8px solid #10B981;
    border-radius: 10px;
    box-shadow: 10px 20px 15px silver;
}