<div class="fd_r_jc_sb">
    <div class="address-contdainer">
        <div class="fd_r_jc_r_ai_c">
            <p>Name:</p>
            <p [style]="{ width: '300px' }">jj</p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>E-Mail:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="distance"></div>
        <div class="fd_r_jc_r_ai_c">
            <h3>Work</h3>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Company:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Position:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Phone:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Website:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="distance"></div>
        <div class="fd_r_jc_r_ai_c">
            <h3>Private</h3>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Phone:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Mobil phone:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
        <div class="fd_r_jc_r_ai_c">
            <p>Website:</p>
            <p [style]="{ width: '300px' }"></p>
        </div>
    </div>
    <div class="picture-right">
        <img src="../../../../../../assets/user-man.png" alt="user">
    </div>
</div>
<div class="distance-bottom"></div>